body{
    background-color: lightblue;
}

.calculator-grid{
  margin: 10px auto;
  width: 400px;
  padding: 20px 50px 20px;
  background-color: white;
  text-align: center;
}

.output{
    background-color: orange;
    width: 400px;
    padding: 10px 5px 10px 5px;
    margin: 5px 5px 5px 1px;
    display: flex;
    justify-content: flex-end;

}

.current-operand{
    margin-top: 20px;
}

.number-screen{
    background-color: grey;
    width: 400px;
    padding: 10px 5px 10px 5px;
    margin: 5px 5px 5px 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.number-screen >  button{
    font-size: 20px;
    background-color: grey;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid black;

}

.number-screen >  button:hover{
    background-color: yellow;
}


.clear{
    grid-column: span 3;
}

